*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo{
    margin: 20px 0 10px;
}

body{
    background-color: #D3DEDC;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    text-align: center;
}

nav ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
}

h2{
    margin: 20px 0;
}

p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.iletisim {
    margin: 20px 0;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.tel{
    width: 30%;
    margin-left: 10%;
    margin-right: auto;
}

.mail{
    width: 30%;
    margin-left: auto;
    margin-right: 10%;
}

li{
    margin: 10px auto;
    padding: 0 15px;
}

a{
    color: #612897;
    border-bottom: 2px solid;
}
