* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    text-align: center;
    padding-top: 8px;
}

.arama {
    width: 89%;
    height: 77px;
    margin: 0 auto 0;
    background-color: #eee;
    padding-top: 3px;
}

.arama input {
    width: 260px;
    height: 18px;
}

button {
    padding: 1.5px 3px;
}

.kutular {
    width: 89%;
    margin: 4px auto 50px;
}

.kutu1 {
    float: left;
    width: 38.8%;
    height: 77px;
    background-color: #7ee5da;
    margin-right: 0.2%;
}

.kutu1 *:first-child {
    margin-top: 10px;
}

.kutu2 {
    font-size: 13px;
    float: left;
    width: 22%;
    height: 77px;
    margin-right: 0.2%;
    background-color: #70ccc2;
}

.kutu2 *:first-child {
    display: inline-block;
    margin-top: 9px;
}

.kutu3 {
    font-size: 13px;
    float: left;
    width: 38.8%;
    height: 77px;
    background-color: #62b3aa;
}

.kutu3 input {
    height: 18px;
}

.kutu3 button {
    margin-right: 10px;
}

.cp {
    font-size: 13px;
    margin-top: 90px;
}