* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.flex {
    /* flex kullanılacak elemanlar için bir class */
    display: flex;
    align-items: center;
}

/* ÜST KISIM */

nav ul {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 10px 12px;
}

nav ul li {
    margin: 0 6px;
    font-weight: 200 !important;
}

.profil {
    width: 32px;
    height: 32px;
    padding-bottom: 2px;
    justify-content: center;
    background-color: #5d4037;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    color: #fff;
    font-size: 18px !important;
}

.a-div {
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.apps {
    width: 24px;
    height: 24px;
    filter: invert(40%) sepia(2%) saturate(1358%) hue-rotate(173deg) brightness(94%) contrast(88%);
}

.a-div:hover {
    background-color: rgba(231, 220, 220, 0.384);
    transition: 200ms background-color;
}

nav ul li a {
    color: #353535;
    font-size: 14px;
    line-height: 24px;
    font-size: small;
    margin-right: 7px;
}

nav ul li:last-child a {
    /* gmaili seçtim */
    margin-right: 3px;
}

a:hover {
    text-decoration: underline;
}

/* ORTA KISIM */


/* sayfayı linuxta açtığımda normal google sayfasıyla aynı yerde olmuyor
   margini % olarak vermeyi denedim */
.container {
    width: 100%;
    margin-top: 69.5px;
    text-align: center;
}

.search-div {
    flex-wrap: wrap;
    width: 70%;
    max-width: 584px;
    height: 46px;
    margin: 23px auto 0;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    user-select: none;
}

.search-div:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

.b-div {
    text-align: center;
    width: 47px;
    height: 40px;
}

.b-div label svg {
    width: 20px;
    height: 20px;
    margin: 9.5px auto;
    filter: invert(72%) sepia(12%) saturate(159%) hue-rotate(169deg) brightness(88%) contrast(93%);
}

#ara {
    width: 77%;
    height: 98%;
    user-select: auto;
    border: none;
    font-size: 16px;
}

.keyboard {
    justify-content: center;
    width: 40px;
    height: 44px;
    cursor: pointer;
}

.sesli {
    text-align: center;
    width: 35px;
    height: 40px;
}

.sesli svg {
    width: 24px;
    height: 24px;
    margin-top: 7px;
}

.buttons {
    justify-content: center;
    margin: 4px auto 0;
    width: 100%;
    height: 88px;
}

button {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #45494c;
    font-size: 14px;
    margin: 11px 7px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}

/* buton üstüne gelince borderdan dolayı butonun yüksekliği ve genişliği
   artıyor, marginden dolayı da butonlar hareket ediyor.
   hover olduğunda margini düşürmeyi denedim */
button:hover {
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #7d8186;
}

.f-ust {
    height: 48.6px;
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
}

.f-alt {
    height: 48px;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.f-alt ul {
    flex-direction: row;
}

.f-alt a {
    color: #70757a;
    font-size: 14px;
    text-decoration: none;
    padding: 15px;
}

.f-alt a:hover {
    text-decoration: underline;
}

.alt1,
.alt2,
.alt3 {
    height: 100%;
}

.alt1 {
    justify-content: flex-start;
    width: 30%;
}

.alt2 {
    margin: 0 auto;
}

.alt2 a{
    padding-left: 6px;
    margin: 0;
}

.alt2 img {
    width: 12.25px;
    height: 14px;
}

.alt3 {
    justify-content: flex-end;
    width: 30%;
}